<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:fragment="sidebarFragment" class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <!-- 로고 영역 -->
    <div class="navbar nav_title" style="border: 0;">
      <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>WEPLE</span></a>
    </div>
    <div class="clearfix"></div>
    <br />
    <!-- 사이드바 메뉴 -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <ul class="nav side-menu">
          <li><a href="#"><i class="fa fa-dashboard"></i> 대시보드</a></li>
          <li class="active"><a href="#"><i class="fa fa-folder"></i> 프로젝트</a></li>
          <li><a href="#"><i class="fa fa-edit"></i> 일감</a></li>
          <li><a href="#"><i class="fa fa-bars"></i> 작업내역</a></li>
          <li><a href="#"><i class="fa fa-bar-chart"></i> 간트차트</a></li>
          <li><a href="#"><i class="fa fa-calendar"></i> 캘린더</a></li>
          <li><a href="#"><i class="fa fa-clock-o"></i> 소요시간</a></li>
          <li><a href="#"><i class="fa fa-comments"></i> 게시판</a></li>
          <li><a href="#"><i class="fa fa-cog"></i> 관리</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</body>
</html>