<div id="taskD7" th:fragment="miniTaskTable">
    <table class="table table-hover custom-table">
        <thead>
            <tr>
                <th>프로젝트</th>
                <th>일감명</th>
                <th>상태</th>
                <th>마감일자</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="task : ${allList}">
                <td th:text="${task.projectTitle}">프로젝트</td>
                <td th:text="${task.taskTitle}">일감명</td>
                <td th:text="${task.defaultDescribe}">신규</td>
                <td th:text="${#temporals.format(task.finishDate, 'yyyy.MM.dd')}">2026.07.03</td>
            </tr>
        </tbody>
    </table>
</div>