<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>WEPLE 협업툴 메인</title>
</head>
<body>

    <!-- 이 구역이 default_layout.html의 content 자리에 결합됩니다 -->
    <div layout:fragment="content">
        <h3>프로젝트 1</h3>
        <p>여기에 기획서 5번 항목인 탭 메뉴와 일감 리스트, 캘린더 화면 등을 팀원들이 마음껏 구현하면 됩니다.</p>
    </div>

</body>
</html><dependency>
 <groupId>com.github.ulisesbocchio</groupId>
 <artifactId>jasypt-spring-boot-starter</artifactId>
 <version>4.0.4</version>
</dependency>
<dependency>
 <groupId>com.github.ulisesbocchio</groupId>
 <artifactId>jasypt-spring-boot-starter</artifactId>
 <version>4.0.4</version>
</dependency>
jasypt.encryptor.password=my_secret_key_1234